@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: black;
}
header {
    margin: auto;
    margin-top: 5px;
    width: 70vw;
    background-color: white;
    border-radius: 3px;
}
nav {
    margin: auto;
    margin-top: 5px;
    padding: 2px 0;
    width: 70vw;
    background-color: white;
    border-radius: 3px;
}
nav a {
    margin-left: 2px;
    padding: 2px;
    border-radius: 3px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 0.7em;
    font-weight: bold;
}
nav a:hover {
    background-color: darkgray;
}
main {
    margin: auto;
    margin-top: 5px;
    min-height: 50vh;
    width: 70vw;
    background-color: white;
    border-radius: 3px;
}
main * {
    padding: 2px;
}
footer {
    margin: auto;
    margin-top: 5px;
    padding: 2px 0;
    width: 70vw;
    background-color: white;
    border-radius: 3px;
    font-size: .7em;
}
header h1 {        
    border-radius: 3px;
    text-align: center;
}
footer p {
    text-align: center;
}
form {
    font-weight: bold;
}